@use "variables" as *;

* {
  margin: 0;
}

body {
  margin: 0;
  background:  
    radial-gradient(circle at top left, $background-200 -15%, transparent 33%),
    linear-gradient(to top, $background-300 -15%, transparent 15%)
    $background-100;
  background-attachment: fixed;
}

