.header {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  position: relative;
  height: 450px;

  .profile {
    border-radius: 30px;
    height: 180px;
    box-shadow: 2px;
    z-index: 1;
  }

  .box {
    margin-top: 100px;
    height: 350px;
    width: 370px;
    border-radius: 15px;
    position: absolute;
    background: linear-gradient(#2f3d59, #0b1326);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    h2 {
      margin-top: 7rem;
      font-weight: 600;
      font-size: x-large;
    }

    .social {
      display: flex;
      flex-direction: row;

      .iconBckg {
        background-color: rgb(217, 217, 217, 20%);
        border-radius: 5px;
        margin: 20px 10px 0;
        cursor: pointer;

        &:hover {
          background-color: rgb(217, 217, 217, 25%);
        }

        img {
          margin: 10px;
          border-radius: 0;
          width: 30px;
        }
      }
    }

    .list {
      margin-top: 40px;
      display: flex;
      gap: 1rem;
      list-style-type: none;
      padding: 0;

      font-weight: 400;
      font-size: medium;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: #ffb829;
        }
      }

      .active-tab {
        border: 1.5px solid #ffb829;
        border-radius: 8px;
      }
    }
  }
}
