@use "../../../variables" as *;

.profile {
  width: 100%;
  margin-top: 48px;
}

.sectionTitle {
  font-size: 1.15rem;
  margin-bottom: 12px;
}

.experience,
.education,
.certifications {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.columns {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 36px;
}

@media (min-width: $bp-desktop) {
  .columns {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }
}
